html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 80%;
  max-width: 90%;
  margin: auto;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

h3 {
  margin: 2px;
}

h4 {
  font-weight: 600;
  margin: 2px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
  height: 50px;
}

hr {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #212121;
}

h1 {
  font-size: 26px;
}

a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

ul li a {
  padding-left: 20px;
}

nav {
  padding-inline: 24px;
  background-color: #dddddd;
  border-radius: 12px;
  margin-top: 24px;
}

section {
  margin-top: 32px;
  margin-bottom: 32px;
}

p {
  margin-bottom: 0;
  color: #222e50;
}

/*** ---- Custom Styles ---- ***/

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin: 24px 0px;
}

.title {
  margin: 0;
  padding: 0;
}

.subtitle {
  margin: 0px;
  color: #212121;
}

.email {
  color: #212121;
  text-decoration: underline;
}

/*** ---- Summary Styles ---- ***/
.summary-content {
  margin-bottom: 0;
}

.subclass-paragraph {
  margin: 2px;
}

/*** ---- Hobbies Styles ---- ***/

.chip-item {
  background-color: #f1f1f1;
  margin: 0px 6px;
  padding: 12px 24px 0px 24px;
  border-radius: 100px;
}

/*** ---- Education Styles ---- ***/

.education-item {
  padding: 12px;
  padding-bottom: 12px;
  background-color: #f1f1f1;
  margin-top: 24px;
}
.experience-item {
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #f1f1f1;
  padding: 12px;
}

/*** ---- Reference Styles ---- ***/

.reference-item {
  margin-top: 0px;
  background-color: #f1f1f1;
  padding: 12px;
}
